Assignment1
Group 5 Members :-  
Sandeep Anumula,
Nikhil Bathini,
SaiPrashanthReddy Dyapa,
Shirisha Teegala,
Nikhith Vemula,

1. Write a Python program to count the number of strings in a list where each string has a length of 2 or more and is a palindrome. 
Sample: ['abdefc', 'xygyz', 'abeba', '123321'] 
output: 2

In [1]:
def count_noof_palindromes(lists_of_palindrome):
    count=0
    original_list=lists_of_palindrome.copy()  ##to keep the original list 
    while original_list:
        new_string =original_list.pop(0) ## to remove and return the first element from the string
        if len(new_string)>=2 and new_string == new_string[::-1]: #to check if the length is 2 or more and to check if the string is equal to its reverse
            count+= 1
    return count
sample=['abdefc', 'xygyz', 'abeba', '123321'] # sample input 
result1 = count_noof_palindromes(sample)
print("Total_palindromes in the given list:",result1)

Total_palindromes in the given list: 2

3. Write a Python program to split a list into a list of dictionaries, where each dictionary has an odd item as the key and the following even item as the value. 
Sample: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'] 
Output: [{‘a’:’b’},{‘c’:’d’},{‘e’:’f’},{‘g’:’h’},{‘i’:’j’},{‘k’:’l’},{‘m ’:‘n’}]

In [2]:
def split_dictionary(listofdict):
    result = []   #empty list to store the disctionaries
    for i in range(0, len(listofdict) - 1, 2):  # looping through the list to take 2 values at once
        result.append({listofdict[i]: listofdict[i + 1]}) #dictionary with the first item as key and second item as value
    return result
sample = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n'] # sample input given as per the question
result = split_dictionary(sample)
print("list of dictionary:\n",result)

list of dictionary:
 [{'a': 'b'}, {'c': 'd'}, {'e': 'f'}, {'g': 'h'}, {'i': 'j'}, {'k': 'l'}, {'m': 'n'}]

5. write a Python program to print all the common values in a dictionary.

In [3]:

def check_common_values(common_values):
    no_of_values={}      # initialized an empty dictionary
    for value in common_values.values():
        no_of_values[value]= no_of_values.get(value,0)+1   #count values

    common_values = [value1 for value1, count in no_of_values.items() if count>1] #create a list of values that apper more than once

    if common_values:   
        print("common values:", common_values) #condition to check the common values
    else:
        print("no common values found.")

sample={"apples":10, "oranges":10, "grapes":20, "lemons":25, "strawberries":20, "pineapples":5} # sample input 
check_common_values(sample)

common values: [10, 20]

7. Write a Python program to remove tuples containing a specific value from a list of tuples.

In [4]:

def remove_tuples(specificValue, value):
    checked_list=[]   #initialised an empy list to store the values after removing the tuples
    for tuples in specificValue:    
        if value not in tuples:      #to check the specific value in the tuples 
            checked_list.append(tuples)   #if condition meet than it add to the new checked list
    return checked_list

list_of_tuples=[(5,1,5),(1,6,9),(2,4,5),(3,6,6),(4,1,3),(2,3,4),(6,7,8)] #sample input
specific_value_removed=5  # specific value removed form the tuple

checked_list=remove_tuples(list_of_tuples, specific_value_removed) #list after removing the specific value from the list

print("final_list_after_removing_specific_values:",checked_list) #final list to print after removing the specific value

final_list_after_removing_specific_values: [(1, 6, 9), (3, 6, 6), (4, 1, 3), (2, 3, 4), (6, 7, 8)]

9. Use Yahoo Finance to download one month of daily stock data for three tickers: GOOG, AAPL, and TSLA, and store their prices in three separate lists.
Use list comprehension to identify the top three prices for each ticker and display these prices.

In [5]:
#1.for this question We have first downloaded the data using the library 
#2.then we have choosen the to make a list of the closing prices for the each tickers 
#2.After that we havve given the top three prices for each ticker and displayed the prices 

import yfinance as yf
import pandas as pd

start_date= pd.Timestamp(year=2025,month=1, day=1)   #start date
end_date= pd.Timestamp(year=2025,month=2, day=1)      #end date 

tickers=['GOOG','AAPL','TSLA'] #list of the tickers as per the question
data=yf.download(tickers,start=start_date,end=end_date) #yf will download the respective data of each tickers as per start and end date

display(data)

[*********************100%***********************]  3 of 3 completed

Price            Close                                High              \
Ticker            AAPL        GOOG        TSLA        AAPL        GOOG
Date
2025-01-02  243.850006  190.630005  379.279999  249.100006  193.199997
2025-01-03  243.360001  193.130005  410.440002  244.179993  194.500000
2025-01-06  245.000000  197.960007  411.049988  247.330002  199.559998
2025-01-07  242.210007  196.710007  394.359985  245.550003  202.139999
2025-01-08  242.699997  195.389999  394.940002  243.710007  197.639999
2025-01-10  236.850006  193.169998  394.739990  240.160004  197.619995
2025-01-13  234.399994  192.289993  403.309998  234.669998  192.490005
2025-01-14  233.279999  191.050003  396.359985  236.119995  193.270004
2025-01-15  237.869995  196.979996  428.220001  238.960007  197.800003
2025-01-16  228.259995  194.410004  413.820007  238.009995  196.979996
2025-01-17  229.979996  197.550003  426.500000  232.289993  198.809998
2025-01-21  222.639999  199.630005  424.070007  224.419998  203.839996
2025-01-22  223.830002  200.029999  415.109985  224.119995  202.119995
2025-01-23  223.660004  199.580002  412.380005  227.029999  201.940002
2025-01-24  222.779999  201.899994  406.579987  225.630005  202.570007
2025-01-27  229.860001  193.770004  397.149994  232.149994  198.669998
2025-01-28  238.259995  197.070007  398.089996  240.190002  197.229996
2025-01-29  239.360001  197.179993  389.100006  239.860001  198.460007
2025-01-30  237.589996  202.630005  400.279999  240.789993  203.238007
2025-01-31  236.000000  205.600006  404.600006  247.190002  207.080002

Price                          Low                                Open  \
Ticker            TSLA        AAPL        GOOG        TSLA        AAPL
Date
2025-01-02  392.730011  241.820007  188.710007  373.040009  248.929993
2025-01-03  411.880005  241.889999  191.350006  379.450012  243.360001
2025-01-06  426.429993  243.199997  195.059998  401.700012  244.309998
2025-01-07  414.329987  241.350006  195.940002  390.000000  242.979996
2025-01-08  402.500000  240.050003  193.750000  387.399994  241.919998
2025-01-10  399.279999  233.000000  191.600006  377.290009  240.009995
2025-01-13  403.790009  229.720001  188.660004  380.070007  233.529999
2025-01-14  422.640015  232.470001  189.639999  394.540009  234.750000
2025-01-15  429.799988  234.429993  193.330002  405.660004  234.639999
2025-01-16  424.000000  228.029999  194.300003  409.130005  237.350006
2025-01-17  439.739990  228.479996  195.309998  419.750000  232.119995
2025-01-21  433.200012  219.380005  199.440002  406.309998  224.000000
2025-01-22  428.000000  219.789993  199.199997  414.589996  219.789993
2025-01-23  420.730011  222.300003  196.820007  408.950012  224.740005
2025-01-24  418.880005  221.410004  199.783997  405.779999  224.779999
2025-01-27  406.690002  223.979996  192.699997  389.000000  224.020004
2025-01-28  400.589996  230.809998  192.610001  386.500000  230.850006
2025-01-29  398.589996  234.009995  195.190002  384.480011  234.119995
2025-01-30  412.500000  237.210007  199.472000  384.410004  238.669998
2025-01-31  419.989990  233.440002  203.580002  401.339996  247.190002

Price                                  Volume
Ticker            GOOG        TSLA       AAPL      GOOG       TSLA
Date
2025-01-02  191.485001  390.100006   55740700  17545200  109710700
2025-01-03  192.725006  381.480011   40244100  12875000   95423300
2025-01-06  195.149994  423.200012   45045600  19483300   85516500
2025-01-07  198.270004  405.829987   40856000  16966800   75699500
2025-01-08  193.949997  392.950012   37628900  14335300   73038800
2025-01-10  195.419998  391.399994   61710900  20753800   62287300
2025-01-13  191.350006  383.209991   49630700  13169100   67580500
2025-01-14  192.500000  414.339996   39435300  13651200   84565000
2025-01-15  194.350006  409.899994   39832000  12894900   81375500
2025-01-16  195.824997  423.489990   71759100  13449600   68335200
2025-01-17  198.050003  421.500000   68488300  22109100   94991400
2025-01-21  200.509995  432.640015   98070400  19005200   87320900
2025-01-22  200.550003  416.809998   64126500  15477400   60963300
2025-01-23  199.979996  416.059998   60234800  15170800   50690600
2025-01-24  199.850006  414.450012   54697900  12732400   56427100
2025-01-27  194.190002  394.799988   94863400  24970200   58125500
2025-01-28  194.649994  396.910004   75707600  15939200   48910700
2025-01-29  197.369995  395.209991   45486100  12287800   68033600
2025-01-30  199.759995  410.779999   55658300  14571500   98092900
2025-01-31  203.714996  401.529999  100959800  17060300   83283600

In [6]:
#to extract and print the close prices and convert it into list for each tickers (goog, aapl, tsla)
goog_prices =data['Close']['GOOG'].tolist()
aapl_prices=data['Close']['AAPL'].tolist()
tsla_prices=data['Close']['TSLA'].tolist()
print ("GOOG_prices:\n ",goog_prices)
print ("AAPL_prices:\n",aapl_prices)
print("TSLA_prices:\n",tsla_prices)

GOOG_prices:
  [190.6300048828125, 193.1300048828125, 197.9600067138672, 196.7100067138672, 195.38999938964844, 193.1699981689453, 192.2899932861328, 191.0500030517578, 196.97999572753906, 194.41000366210938, 197.5500030517578, 199.6300048828125, 200.02999877929688, 199.5800018310547, 201.89999389648438, 193.77000427246094, 197.07000732421875, 197.17999267578125, 202.6300048828125, 205.60000610351562]
AAPL_prices:
 [243.85000610351562, 243.36000061035156, 245.0, 242.2100067138672, 242.6999969482422, 236.85000610351562, 234.39999389648438, 233.27999877929688, 237.8699951171875, 228.25999450683594, 229.97999572753906, 222.63999938964844, 223.8300018310547, 223.66000366210938, 222.77999877929688, 229.86000061035156, 238.25999450683594, 239.36000061035156, 237.58999633789062, 236.0]
TSLA_prices:
 [379.2799987792969, 410.44000244140625, 411.04998779296875, 394.3599853515625, 394.94000244140625, 394.739990234375, 403.30999755859375, 396.3599853515625, 428.2200012207031, 413.82000732421875, 426.5, 424.07000732421875, 415.1099853515625, 412.3800048828125, 406.5799865722656, 397.1499938964844, 398.0899963378906, 389.1000061035156, 400.2799987792969, 404.6000061035156]

In [7]:
def get_top_three(prices):
    return sorted(prices, reverse=True)[:3] # sorted the prices and sliced the sorted list to get the top three prices

top_goog_prices=get_top_three(goog_prices)
top_aapl_prices=get_top_three(aapl_prices)
top_tsla_prices=get_top_three(tsla_prices)

#printed the top three prices for the each tickers
print("GOOG TOP THREE PRICES:\n",top_goog_prices)
print("AAPL TOP THREE PRICES:\n",top_aapl_prices)
print("TSLA TOP THREE PRICES:\n",top_tsla_prices)

GOOG TOP THREE PRICES:
 [205.60000610351562, 202.6300048828125, 201.89999389648438]
AAPL TOP THREE PRICES:
 [245.0, 243.85000610351562, 243.36000061035156]
TSLA TOP THREE PRICES:
 [428.2200012207031, 426.5, 424.07000732421875]